[Desktop Entry]
Name=SOFT.Connect.Desk
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=soft-connect-desk %u
Icon=soft-connect-desk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=soft-connect-desk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=soft-connect-desk %u
