[Desktop Entry]
Name=SOFT.Connect.Desk
NoDisplay=true
MimeType=x-scheme-handler/softconnectdesk;
TryExec=soft-connect-desk
Exec=soft-connect-desk %u
Icon=soft-connect-desk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=soft-connect-desk
